h2 {
    text-align: center;
    margin-top: 4px;
}
.text-align {
    text-align: left;
}
.slide {
    color: #1890ff;
    display: inline;
  
}


.items {
  
    padding: 12px;
}
mat-slide-toggle {
    margin: 12px;
}
.text {
    font-family: "NeoTech", Fallback, sans-serif !important;
}

#wrapper {
    width: 100%;
    height: 400px;

}



.registration-form {
    width: 70%;
    height: 100%;
    
  }
  
  .registration-full-width {
    width: 100%;
    
  }
  
  div {
    text-align: center
  }


.mat-card {
    width: 90%;
    text-align: center;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    img {
        border-radius: 5px;
        margin-top: -25px;
    }
}



form {
    width: 60%;
    margin-left: auto;
    margin-right:auto;
}


.center {
    margin-left: auto;
    margin-right: auto;
   width: 80%;
 
}

button {
    position: relative;
    width: 7em;
    height: 2.3em;
    background-color: #47143d;
    border: none;
    color:white;
    
    border-radius: 28px;
    background: linear-gradient(145deg, #47143d, #47143d);
    box-shadow:  5px 5px 10px #47143d, 
                 -5px -5px 10px #ffffff;
    
}


button {
    top: 8px;
    width: 11em;
    height: 2.5em;
    background-color:#47143d;
    border: none;
    color: white;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    
    border-radius: 28px;
    background: linear-gradient(145deg,#47143d,#47143d);
    box-shadow:  5px 5px 10px #47143d, 
                 -5px -5px 10px #ffffff;

}



  .top {
    margin-top: 5px ;
  }

  form {
      height: 230px;
  }

  select {
      width: 10em;
  }

  