<div style="border-radius: 28px">
    <button
        type="button"
        value="submit"
        class="sbmt pull-right edit-btn"
        (click)="open(true, data)"
    >
        <i class="fa fa-edit"></i>Add Job categories
    </button>
</div>
<br />
<br />

<div class="row" style="margin-right: -20px !important; margin-left: 15px !important; margin-top: 10px !important;">
    <mat-card>
        <table id="t01">
            <thead style="background-color: #f5f5f5">
                <tr
                    class="tr1"
                    style="
                        box-shadow: -3px -3px 7px #ffffff,
                            3px 3px 5px rgba(94, 104, 121, 0.712);
                    "
                >   <th>ID</th>
                    <th>job category Name</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tr *ngFor="let category of categoryData" class="tr1">
                <td>
                    {{ category.id  != undefined ? category.id :'0'}}
                </td>
                <td>
                    {{ category.name  != undefined ? category.name :'--'}}
                </td>
                <td>  {{ category.status  != undefined ? category.status :'true'}}</td>

                <td style="color: #1890ff" (click)="open(editModel,data)">
                    <i class="fa fa-edit"></i>Edit
                </td>
                <td style="color: #1890ff; cursor: pointer" (click)="delcategory(category)">
                    <i class="fa fa-trash">Delete</i>
                </td>

            </tr>
        </table>
        <mat-paginator
        #paginator
        [length]="length"
        [pageSize]="10"
        (page)="pageEvent = onNextPage($event)"
    >
    </mat-paginator>
    </mat-card>
</div>

<div *ngIf="postdataShow" class="fixed-wrapper">
    <div class="content fixed">
        <div class="modal-header">
            <button1
                type="button"
                class="btn btn-outline-dark btn1"
                (click)="close(false)"
                style="margin-right: -320px;"
            >
                X
            </button1>
        </div>
    <form
        class="content"
        role="form"
        method="post"
        #LoginForm="ngForm"
    >
        <div>
            <h2>Add Job Category</h2>

            <div class="row">
                <div class="col-sm-4">Category Name:</div>
                <div class="col-sm-8">
                    <input
                        required
                        placeholder=" Category Name"
                        [(ngModel)]="jobcategoryData.name"
                        type="text"
                        name="native"
                    />
                </div>

                <div class="col-sm-3"></div>
            </div>
      
            <div class="row" style="margin-top: 10px">
                <div class="col-sm-4">Status</div>
                <div class="col-sm-8">
                    <select
                        class="browser-default custom-select"
                        [(ngModel)]="jobcategoryData.status"
                        name="status"
                    >
                        <option value="active">Active</option>
                        <option value="inactive">InActive</option>
                    </select>
                </div>

                <div class="col-sm-3"></div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                 
                    <button
                        type="submit"
                        value="submit"
                    class="raised neu"

                        style="
                            margin-top: 20px;
                            /* margin: 2px;
                            width: 6em;
                            height: 2em; */
                            background-color: #1890ff;
                            border: none;
                            color: white;
                        "
                        (click)="submitForm()"
                    >
                        Submit
                    </button>

                </div>
                <!-- <div class="col-sm-4">
                    <button
                        (click)="c('Close click')"
                        style="
                            width: 6em;
                            height: 2em;
                            background-color: #1890ff;
                            border: none;
                            color: white;
                        "
                    >
                        Close
                    </button>
                </div> -->
                <div class="col-sm-2"></div>
            </div>
        </div>
    </form>
    </div>
    </div>

<!-- <Edit Language  Modal> -->
<ng-template #editModel let-c="close" let-d="dismiss">
    <form
        class="content"
        role="form"
        method="post"
        #LoginForm="ngForm"
        (submit)="editForm()"
    >
        <div>
            <h2 style="text-align: center">Edit Job categories</h2>

            <div class="row">
                <div class="col-sm-4">category Name</div>
                <div class="col-sm-8">
                    <input
                        placeholder="category Name"
                        required
                        [(ngModel)]="editData.name"
                        type="text"
                        name="english"
                    />
                </div>
                <div class="col-sm-3"></div>
            </div>
          
            <div class="row" style="margin-top: 10px">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">Status</div>
                <div class="col-sm-4">
                    <select
                        class="browser-default custom-select"
                        [(ngModel)]="editData.status"
                        name="status"
                    >
                        <option value="" hidden>Status</option>
                        <option value="active">Active</option>
                        <option value="inactive">InActive</option>
                    </select>
                </div>

                <div class="col-sm-3"></div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                   
                    <button
                        type="submit"
                        value="submit"
                        style="
                            margin: 2px;
                            width: 6em;
                            height: 2em;
                            background-color: #1890ff;
                            border: none;
                            color: white;
                        "
                        (click)="editForm()"
                    >
                        Submit
                    </button>

                </div>
                <div class="col-sm-4">
                    <button
                        (click)="c('Close click')"
                        style="
                            width: 6em;
                            height: 2em;
                            background-color: #1890ff;
                            border: none;
                            color: white;
                        "
                    >
                        Close
                    </button>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </form>
</ng-template>

