<h2>Edit Employee</h2>

<div class="employee-page">
    <div class="d-flex justify-content-center">
        <mat-card>
            <form #EditForm="ngForm" class="registration-form" (submit)="editForm()">
                <div class="center">
                    <div class="row">
                        <div class="col-sm-12">
                            <mat-form-field class="registration-full-width">
                                <input matInput placeholder="Name" type="text" [(ngModel)]="registrationData.name"
                                    name="name" styl />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field class="registration-full-width">
                                <input placeholder="Email Id" pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                    name="mail" matInput [(ngModel)]="
                                        registrationData.email_id
                                    " type="text" class="input" #mail="ngModel"  />
                            </mat-form-field>
                        </div>
                        <!-- <div class="col-sm-6">
                            <mat-form-field class="registration-full-width">
                                <input matInput placeholder="Password" type="password" [(ngModel)]="
                                        registrationData.pwd
                                    " name="password" [type]="
                                        hide ? 'password' : 'text'
                                    " />

                                <mat-icon matSuffix (click)="hide = !hide">{{
                                    hide
                                    ? "visibility_off"
                                    : "visibility"
                                    }}
                                </mat-icon>
                            </mat-form-field>
                        </div> -->
                    </div>
                    <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field class="registration-full-width">
                            <mat-label>Select a Role</mat-label>
                            <mat-select [(ngModel)]="
                                    registrationData.is_admin
                                " name="is_admin" class="dropdowns" [(value)]="is_admin">
                                <mat-option value="true">Admin</mat-option>
                                <mat-option value="false">Employee</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    </div>
                    <div *ngIf="is_admin == 'false'">
                        <div class="row">
                            <div class="col-sm-4">
                                <mat-slide-toggle [(ngModel)]="
                                        permissionsData.Dashboard
                                    " name="Dashboard">Dashboard</mat-slide-toggle>
                            </div>
                        </div>
                        </div>

                        <div class="col-sm-12">
                            <button value="submit" mat-raised-button color="primary" class="raised neu">
                                Submit
                            </button>
                        </div>
                    </div>
            </form>
        </mat-card>
    </div>
</div>
