@import 'material';
@import 'main';
@import 'utils';
@import 'responsive';
@import '@angular/material/prebuilt-themes/indigo-pink.css';



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.page-content {
    margin-bottom: 24px;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
