<link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet"
/>

<div class="row" style="margin-top: 13px; margin-left: 15px">
    <mat-card>
        <table id="t01">
            <thead style="background-color: #f5f5f5">
                <tr
                    class="tr1"
                    style="
                        box-shadow: -3px -3px 7px #ffffff,
                            3px 3px 5px rgba(94, 104, 121, 0.712);
                    "
                >
                    <th>Emp Id</th>
                    <th>Name</th>
                    <th>Email id</th>
                    <th>Status</th>
                    <!-- <th>analytics</th> -->
                    <!-- <th>Edit</th> -->
                    <!-- <th>Delete</th> -->
                </tr>
            </thead>
            <tr *ngFor="let item of items" class="tr1">
                <td>
                    {{ item.id != undefined ? item.id : "0" }}
                    
                </td>
                <td>
                    <a class="fab button-selectd" routerLink="/analytics">
                        {{ item.name != undefined ? item.name : "--" }}
                    </a>
                </td>
                <td>{{ item.email_id != undefined ? item.email_id : "--" }}</td>
                <td>{{ item.status != undefined ? item.status : "0" }}</td>

                <!-- <td style="color: #1890ff; cursor: pointer">
                        <i
                            class="fa fa-edit"
                            (click)="EditEmployee($event, item)"
                        ></i>{{ item.emp_id }}
                </td>
                <td style="color: #1890ff; cursor: pointer" (click)="delarticle(item)">
                    <i class="fa fa-trash">Delete</i>
                </td> -->
            </tr>
        </table>
        <mat-paginator

            #paginator
            [length]="length"
            [pageSize]="10"
            (page)="pageEvent = onNextPage($event)"
        >
        </mat-paginator>
    </mat-card>
</div>
