.card {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}
.l-bg-cherry {
  background: linear-gradient(to right, #493240, #f09) !important;
  color: #fff;
}

.l-bg-blue-dark {
  background: linear-gradient(to right, #373b44, #4286f4) !important;
  color: #fff;
}

.l-bg-green-dark {
  background: linear-gradient(to right, #0a504a, #38ef7d) !important;
  color: #fff;
}

.l-bg-orange-dark {
  background: linear-gradient(to right, #a86008, #ffba56) !important;
  color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
  font-size: 110px;
}

.card .card-statistic-3 .card-icon {
  text-align: center;
  line-height: 50px;
  margin-left: 15px;
  color: #000;
  position: absolute;
  right: -5px;
  top: 20px;
  opacity: 0.1;
}

.l-bg-cyan {
  background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
  color: #fff;
}

.l-bg-green {
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
  color: #fff;
}

.l-bg-orange {
  background: linear-gradient(to right, #f9900e, #ffba56) !important;
  color: #fff;
}

.l-bg-cyan {
  background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
  color: #fff;
}
body {
  color: #797979;
  background: #f1f2f7;
  font-family: 'Open Sans', sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 13px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

.profile-nav, .profile-info{
  margin-top:30px;   
}

.profile-nav .user-heading {
  background: #fbc02d;
  color: #fff;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 30px;
  text-align: center;
}

.profile-nav .user-heading.round a  {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 10px solid rgba(255,255,255,0.3);
  display: inline-block;
}

.profile-nav .user-heading a img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.profile-nav .user-heading h1 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 5px;
}

.profile-nav .user-heading p {
  font-size: 12px;
}

.profile-nav ul {
  margin-top: 1px;
}

.profile-nav ul > li {
  border-bottom: 1px solid #ebeae6;
  margin-top: 0;
  line-height: 30px;
}

.profile-nav ul > li:last-child {
  border-bottom: none;
}

.profile-nav ul > li > a {
  border-radius: 0;
  -webkit-border-radius: 0;
  color: #89817f;
  border-left: 5px solid #fff;
}

.profile-nav ul > li > a:hover, .profile-nav ul > li > a:focus, .profile-nav ul li.active  a {
  background: #f8f7f5 !important;
  border-left: 5px solid #fbc02d;
  color: #89817f !important;
}

.profile-nav ul > li:last-child > a:last-child {
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}

.profile-nav ul > li > a > i{
  font-size: 16px;
  padding-right: 10px;
  color: #bcb3aa;
}

.r-activity {
  margin: 6px 0 0;
  font-size: 12px;
}


.p-text-area, .p-text-area:focus {
  border: none;
  font-weight: 300;
  box-shadow: none;
  color: #c3c3c3;
  font-size: 16px;
}

.profile-info .panel-footer {
  background-color:#f8f7f5 ;
  border-top: 1px solid #e7ebee;
}

.profile-info .panel-footer ul li a {
  color: #7a7a7a;
}

.bio-graph-heading {
  background: #fbc02d;
  color: #fff;
  text-align: center;
  font-style: italic;
  padding: 40px 110px;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  font-size: 16px;
  font-weight: 300;
}

.bio-graph-info {
  color: #89817e;
}

.bio-graph-info h1 {
  font-size: 22px;
  font-weight: 300;
  margin: 0 0 20px;
}

.bio-row {
  width: 50%;
  float: left;
  margin-bottom: 10px;
  padding:0 15px;
}

.bio-row p span {
  width: 100px;
  display: inline-block;
}

.bio-chart, .bio-desk {
  float: left;
}

.bio-chart {
  width: 40%;
}

.bio-desk {
  width: 60%;
}

.bio-desk h4 {
  font-size: 15px;
  font-weight:400;
}

.bio-desk h4.terques {
  color: #4CC5CD;
}

.bio-desk h4.red {
  color: #e26b7f;
}

.bio-desk h4.green {
  color: #97be4b;
}

.bio-desk h4.purple {
  color: #caa3da;
}

.file-pos {
  margin: 6px 0 10px 0;
}

.profile-activity h5 {
  font-weight: 300;
  margin-top: 0;
  color: #c3c3c3;
}

.summary-head {
  background: #ee7272;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #ee7272;
}

.summary-head h4 {
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.summary-head p {
  color: rgba(255,255,255,0.6);
}

ul.summary-list {
  display: inline-block;
  padding-left:0 ;
  width: 100%;
  margin-bottom: 0;
}

ul.summary-list > li {
  display: inline-block;
  width: 19.5%;
  text-align: center;
}

ul.summary-list > li > a > i {
  display:block;
  font-size: 18px;
  padding-bottom: 5px;
}

ul.summary-list > li > a {
  padding: 10px 0;
  display: inline-block;
  color: #818181;
}

ul.summary-list > li  {
  border-right: 1px solid #eaeaea;
}

ul.summary-list > li:last-child  {
  border-right: none;
}

.activity {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.activity.alt {
  width: 100%;
  float: right;
  margin-bottom: 10px;
}

.activity span {
  float: left;
}

.activity.alt span {
  float: right;
}
.activity span, .activity.alt span {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #eee;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.activity.terques span {
  background: #8dd7d6;
}

.activity.terques h4 {
  color: #8dd7d6;
}
.activity.purple span {
  background: #b984dc;
}

.activity.purple h4 {
  color: #b984dc;
}
.activity.blue span {
  background: #90b4e6;
}

.activity.blue h4 {
  color: #90b4e6;
}
.activity.green span {
  background: #aec785;
}

.activity.green h4 {
  color: #aec785;
}

.activity h4 {
  margin-top:0 ;
  font-size: 16px;
}

.activity p {
  margin-bottom: 0;
  font-size: 13px;
}

.activity .activity-desk i, .activity.alt .activity-desk i {
  float: left;
  font-size: 18px;
  margin-right: 10px;
  color: #bebebe;
}

.activity .activity-desk {
  margin-left: 70px;
  position: relative;
}

.activity.alt .activity-desk {
  margin-right: 70px;
  position: relative;
}

.activity.alt .activity-desk .panel {
  float: right;
  position: relative;
}

.activity-desk .panel {
  background: #F4F4F4 ;
  display: inline-block;
}


.activity .activity-desk .arrow {
  border-right: 8px solid #F4F4F4 !important;
}
.activity .activity-desk .arrow {
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  display: block;
  height: 0;
  left: -7px;
  position: absolute;
  top: 13px;
  width: 0;
}

.activity-desk .arrow-alt {
  border-left: 8px solid #F4F4F4 !important;
}

.activity-desk .arrow-alt {
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  display: block;
  height: 0;
  right: -7px;
  position: absolute;
  top: 13px;
  width: 0;
}

.activity-desk .album {
  display: inline-block;
  margin-top: 10px;
}

.activity-desk .album a{
  margin-right: 10px;
}

.activity-desk .album a:last-child{
  margin-right: 0px;
}
table {
  width:100%;
  border-collapse: collapse;
  font-family: 'NeoTech', Fallback, sans-serif !important;
  font-size: 14px;
  background: white;
}
th{
padding: 5px;
text-align: left;
border-bottom: 1px solid #ddd;
background-color: #E0E0E0		;
}
td {
padding: 5px;
text-align: left;
border-bottom: 1px solid #ddd;  
}

mat-card {
background: #ffffff;
width: 100%;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tr1:hover {
  background-color: #D3D3D3;
}

button {
  top: 8px;
  left: 400px;
  width: 11em;
  height: 2.5em;
  background-color: #1890ff;
  border: none;
  color: white;
  font-family: 'NeoTech', Fallback, sans-serif !important;
  
  border-radius: 28px;
  background: linear-gradient(145deg, #1682e6, #1a9aff);
  box-shadow:  5px 5px 10px #0a3a66, 
               -5px -5px 10px #ffffff;

}


.table1 {
  width: 100%;
  font-family: 'NeoTech', Fallback, sans-serif !important;
  font-size: 14px;

}

td1 {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd; 	
}






.mat-card {
  
  text-align: center;
  font-family: 'NeoTech', Fallback, sans-serif !important;
  img {
      border-radius: 5px;
      margin-top: -25px;
  }
  
}
.mat-table {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
      font-family: 'NeoTech', Fallback, sans-serif !important;

      
}
.registration-full-width {
  width: 100%;
  
}

.top {
  margin-top: 5px ;
}

form {
    height: 230px;
}
.bhagavan {
    
    background-color: white;
  //   background-image: url('https://www.w3schools.com/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
  //   padding-left: 40px;
}
select {
    width: 12em;
}


input[type="checkbox"].switch_1{
font-size: 30px;
-webkit-appearance: none;
   -moz-appearance: none;
        appearance: none;
width: 55px;
height: 20px;
background: #ddd;
border-radius: 3em;
position: relative;
cursor: pointer;
outline: none;
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked{
background: #008000;
}

input[type="checkbox"].switch_1:after{
position: absolute;
content: "";
width: 20px;
height: 20px;
border-radius: 50%;
background: #fff;
-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
        box-shadow: 0 0 .25em rgba(0,0,0,.3);
-webkit-transform: scale(.7);
        transform: scale(.7);
left: 0;
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked:after{
left: calc(100% - 0.7em);
}
.mat-card[_ngcontent-kpm-c309]{
  width: 90%;
  margin-left: 70px;
}

mat-tab-label {
  background-color: yellow;;
}

.tab {
  padding: 0 94px;    
}

h2 {
  text-align: center;
  margin-top: 4px;
}
.text-align {
  text-align: left;
}
.slide {
  color: #1890ff;
  display: inline;

}


.items {
  padding: 12px;
}
mat-slide-toggle {
  margin: 12px;
}
.text {
  font-family: "NeoTech", Fallback, sans-serif !important;
}

#wrapper {
  width: 100%;
  height: 400px;

}



.registration-form {
  width: 70%;
  height: 100%;
  
}

.registration-full-width {
  width: 100%;
  
}

div {
  text-align: center
}


.mat-card {
  width: 90%;
  text-align: center;
  font-family: 'NeoTech', Fallback, sans-serif !important;
  img {
      border-radius: 5px;
      margin-top: -25px;
  }
}

.reporter {
  width: 90%;
  text-align: center;
  font-family: 'NeoTech', Fallback, sans-serif !important;
  img {
      border-radius: 5px;
      margin-top: -25px;
  }
}
  

form {
  width: 60%;
  margin-left: auto;
  margin-right:auto;
}


.center {
  margin-left: auto;
  margin-right: auto;
 width: 80%;

}

button {
  position: relative;
  width: 7em;
  height: 2.3em;
  background-color: #1890ff;
  border: none;
  color:white;
  
  border-radius: 28px;
  background: linear-gradient(145deg, #1682e6, #1a9aff);
  box-shadow:  5px 5px 10px #0a3a66, 
               -5px -5px 10px #ffffff;
  
}


.neumorphism-3 {
display: flex;
justify-content: center;
align-items: center;
height: 50px;
width: 50px;
background: #ffffff;
border-radius: 50%;
  box-shadow:
   -3px -3px 7px #ffffff, 
   3px 3px 5px rgba(94, 104, 121, 0.712);
position: relative;
}
.neumorphism-3:after {
content: '';
position: absolute;
height: 90%;
width: 90%;
background-color: transparent;
border-radius: 50%;
box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.671);
}
table {
  width:100%;
  border-collapse: collapse;
  font-family: 'NeoTech', Fallback, sans-serif !important;
  font-size: 14px;
  background: white;
}
th{
padding: 5px;
text-align: left;
border-bottom: 1px solid #ddd;
background-color: #E0E0E0		;
}
td {
padding: 5px;
text-align: left;
border-bottom: 1px solid #ddd;  
}
th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.tr1:hover {
  background-color: #D3D3D3;
}

button {
  top: 8px;
  width: 11em;
  height: 2.5em;
  background-color: #1890ff;
  border: none;
  color: white;
  font-family: 'NeoTech', Fallback, sans-serif !important;
  
  border-radius: 28px;
  background: linear-gradient(145deg, #1682e6, #1a9aff);
  box-shadow:  5px 5px 10px #0a3a66, 
               -5px -5px 10px #ffffff;

}


.table1 {
  width: 100%;
  font-family: 'NeoTech', Fallback, sans-serif !important;
  font-size: 14px;

}

td1 {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd; 	
}






.mat-card {
  
  text-align: center;
  font-family: 'NeoTech', Fallback, sans-serif !important;
  img {
      border-radius: 5px;
      margin-top: -25px;
  }
  
}
.mat-table {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
      font-family: 'NeoTech', Fallback, sans-serif !important;

      
}
.registration-full-width {
  width: 100%;
  
}

.top {
  margin-top: 5px ;
}

form {
    height: 230px;
}

select {
    width: 10em;
}

mat-tab-label {
  background-color: yellow;;
}

.tab {
  padding: 0 94px;    
}

h2 {
  text-align: center;
  margin-top: 4px;
}
.text-align {
  text-align: left;
}
.slide {
  color: #1890ff;
  display: inline;

}


.items {
  padding: 12px;
}
mat-slide-toggle {
  margin: 12px;
}
.text {
  font-family: "NeoTech", Fallback, sans-serif !important;
}

#wrapper {
  width: 100%;
  height: 400px;

}



.registration-form {
  width: 70%;
  height: 100%;
  
}

.registration-full-width {
  width: 100%;
  
}

div {
  text-align: center
}


.mat-card {
  width: 90%;
  text-align: center;
  font-family: 'NeoTech', Fallback, sans-serif !important;
  img {
      border-radius: 5px;
      margin-top: -25px;
  }
}

.reporter {
  width: 90%;
  text-align: center;
  font-family: 'NeoTech', Fallback, sans-serif !important;
  img {
      border-radius: 5px;
      margin-top: -25px;
  }
}
  

form {
  width: 60%;
  margin-left: auto;
  margin-right:auto;
}


.center {
  margin-left: auto;
  margin-right: auto;
 width: 80%;

}

button {
  position: relative;
  width: 7em;
  height: 2.3em;
  background-color: #1890ff;
  border: none;
  color:white;
  
  border-radius: 28px;
  background: linear-gradient(145deg, #1682e6, #1a9aff);
  box-shadow:  5px 5px 10px #0a3a66, 
               -5px -5px 10px #ffffff;
  
}


.neumorphism-3 {
display: flex;
justify-content: center;
align-items: center;
height: 50px;
width: 50px;
background: #ffffff;
border-radius: 50%;
  box-shadow:
   -3px -3px 7px #ffffff, 
   3px 3px 5px rgba(94, 104, 121, 0.712);
position: relative;
}
.neumorphism-3:after {
content: '';
position: absolute;
height: 90%;
width: 90%;
background-color: transparent;
border-radius: 50%;
box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.671);
}
table {
  width:100%;
  border-collapse: collapse;
  font-family: 'NeoTech', Fallback, sans-serif !important;
  font-size: 14px;
  background: white;
}
th{
padding: 5px;
text-align: left;
border-bottom: 1px solid #ddd;
background-color: #E0E0E0		;
}
td {
padding: 5px;
text-align: left;
border-bottom: 1px solid #ddd;  
}
th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.tr1:hover {
  background-color: #D3D3D3;
}

button {
  top: 8px;
  width: 11em;
  height: 2.5em;
  background-color: #1890ff;
  border: none;
  color: white;
  font-family: 'NeoTech', Fallback, sans-serif !important;
  
  border-radius: 28px;
  background: linear-gradient(145deg, #1682e6, #1a9aff);
  box-shadow:  5px 5px 10px #0a3a66, 
               -5px -5px 10px #ffffff;

}


.table1 {
  width: 100%;
  font-family: 'NeoTech', Fallback, sans-serif !important;
  font-size: 14px;

}

td1 {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd; 	
}






.mat-card {
  
  text-align: center;
  font-family: 'NeoTech', Fallback, sans-serif !important;
  img {
      border-radius: 5px;
      margin-top: -25px;
  }
  
}
.mat-table {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
      font-family: 'NeoTech', Fallback, sans-serif !important;

      
}
.registration-full-width {
  width: 100%;
  
}

.top {
  margin-top: 5px ;
}

form {
    height: 230px;
}

select {
    width: 10em;
}

