<div class="row" style="margin-right: 0px; margin-left: 35px;">
    <mat-card>
        <table id="t01">
            <thead style="background-color: #f5f5f5">
                <tr
                    class="tr1"
                    style="
                        box-shadow: -3px -3px 7px #ffffff,
                            3px 3px 5px rgba(94, 104, 121, 0.712);
                    "
                >
                    <th>ID</th>
                    <th>Company Name</th>
                    <th>Job Title</th>
                    <th>Job Description</th>
                    <th>City</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tr *ngFor="let data of jobData" class="tr1">
                <td>
                    {{ data.id  != undefined ? data.id :'--'}}
                </td>
                <td>
                    {{ data.company  != undefined ? data.company :'--'}}
                </td>

                <td>{{ data.title  != undefined ? data.title :'--'}}</td>
                <td>{{ data.description  != undefined ? data.description :'--'}}</td>
                <td>{{ data.city_id  != undefined ? data.city_id :'--'}}</td>
                <td>{{ data.status  != undefined ? data.status :'--'}}</td>
                <td style="color: #1890ff; cursor: pointer">
                    <i
                        class="fa fa-edit"
                        (click)="EditJobPosting($event, data)"
                    ></i>
            </td>
                <td style="color: #1890ff; cursor: pointer" (click)="delposting(data)">
                    <i class="fa fa-trash">Delete</i>
                </td>
            </tr>
        </table>
        <mat-paginator
        #paginator
        [length]="length"
        [pageSize]="10"
        (page)="pageEvent = onNextPage($event)"
    >
    </mat-paginator>
    </mat-card>
</div>

