<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 border border-1">
            <div class="text">
                <div class="mb-3 mt-3">
                    <h2 style="text-align: center"> EDIT JOB POSTING</h2>
                </div>
            </div>

            <form
                class="login-form"
                role="form"
                method="post"
                #LoginForm="ngForm"
                (submit)="editForm()"
            >
            <div class="form-group">
                <input
                    placeholder="Company Name"
                    name="Company Name"
                    [(ngModel)]="jobData.company"
                    type="text"
                    #mail="ngModel"
                    type="text"
                    class="form-control"
                />
            </div>
                <div class="form-group">
                    <input
                        placeholder=" Job Title"
                        name="title"
                        [(ngModel)]="jobData.title"
                        type="text"
                        #mail="ngModel"
                        type="text"
                        class="form-control"
                    />
                </div>
                <div class="form-group">
                    <textarea
                        placeholder=" Job Description"
                        name="description"
                        [(ngModel)]="jobData.description"
                        type="text"
                        #mail="ngModel"
                        input
                        type="text"
                        rows="5"
                        minlength="150"
                        maxlength="400"
                        class="form-control"
                    >
                    </textarea>
                </div>
                <div class="form-group">
                    <input
                        placeholder="Email"
                        name="email"
                        pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                        [(ngModel)]="jobData.email"
                        type="text"
                        #mail="ngModel"
                        type="text"
                        class="form-control"
                    />
                </div>
                <div class="form-group">
                    <input
                        placeholder=" Contact Number"
                        name="contact"
                        [(ngModel)]="jobData.contact"
                        type="number"
                        #mail="ngModel"
                        type="number"
                        class="form-control"
                    />
                </div>
                <div class="form-group">
                    <select
                        class="form-control"
                        name="Job Skills"
                        [(ngModel)]="jobData.jobskills"
                    >
                        <option value="0" disabled>Job Skills</option>
                        <option value="1">banking</option>
                        <option value="2">way2news</option>
                        <option value=" 3">intel</option>
                        <option value="4">dell</option>
                        <option value="5">HP</option>

                        <!-- <option *ngFor="let district of DistrictList" value="{{district.id}}"> {{ district.title }}</option> -->
                    </select>
                </div>

                <div class="form-group">
                    <select
                        class="form-control"
                        name="Country"
                        [(ngModel)]="jobData.country"
                    >
                        <option value="0" disabled>Country</option>
                        <option value="1">India</option>

                        <!-- <option *ngFor="let district of DistrictList" value="{{district.id}}"> {{ district.title }}</option> -->
                    </select>
                </div>

                <div class="form-group">
                    <select
                        class="form-control"
                        name="states"
                        [(ngModel)]="filter.state_id"
                    >
                        <option value="0" disabled>Select State</option>
                        <option
                            *ngFor="let state of StateList"
                            value="{{ state.id }}"
                        >
                            {{ state.title }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <select
                        class="form-control"
                        name="city"
                        [(ngModel)]="filter.city_id"
                    >
                        <option value="0" disabled>Select City</option>
                        <option
                            *ngFor="let city of CityList"
                            value="{{ city.id }}"
                        >
                            {{ city.title }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <input
                        placeholder="Salary From"
                        name="Salary"
                        [(ngModel)]="jobData.salaryfrom"
                        type="number"
                        #mail="ngModel"
                        class="form-control"
                    />
                </div>
                <div class="form-group">
                    <input
                        placeholder="Salary To"
                        name="Salary"
                        [(ngModel)]="jobData.salaryto"
                        type="number"
                        #mail="ngModel"
                        class="form-control"
                    />
                </div>
                <div class="form-group">
                    <select
                        class="form-control"
                        name="Salary Peroid"
                        [(ngModel)]="jobData.Peroid"
                    >
                        <option value="0" disabled>Salary Peroid</option>
                        <option value="1">Daily</option>
                        <option value="2">Weekly</option>
                        <option value=" 3">Monthly</option>
                        <option value="4">Yearly</option>

                        <!-- <option *ngFor="let district of DistrictList" value="{{district.id}}"> {{ district.title }}</option> -->
                    </select>
                </div>
                <div class="form-group">
                    <select
                        class="form-control"
                        name="Job Categories"
                        [(ngModel)]="jobData.categories"
                    >
                        <option value="0" disabled>Job Categories</option>
                        <option value="1">Daily</option>
                        <option value="2">Weekly</option>
                        <option value=" 3">Monthly</option>
                        <option value="4">Yearly</option>

                        <!-- <option *ngFor="let district of DistrictList" value="{{district.id}}"> {{ district.title }}</option> -->
                    </select>
                </div>
                <div class="form-group">
                    <select
                        class="form-control"
                        name="Job type"
                        [(ngModel)]="jobData.type"
                    >
                        <option value="0" disabled>Job Type</option>
                        <option value="1">Contract</option>
                        <option value="2">Freelancer</option>
                        <option value=" 3">Fulltime/Permanent</option>
                        <option value="4">Parttime</option>
                        <option value="5">Work From Home</option>
                        <option value="6">Internship</option>

                        <!-- <option *ngFor="let district of DistrictList" value="{{district.id}}"> {{ district.title }}</option> -->
                    </select>
                </div>
                <div class="form-group">
                    <input
                        placeholder="positions"
                        name="Position"
                        [(ngModel)]="jobData.position"
                        type="number"
                        #mail="ngModel"
                        class="form-control"
                    />
                </div>
                <div class="form-group">
                    <select
                        class="form-control"
                        name="Gender"
                        [(ngModel)]="jobData.gender"
                    >
                        <option value="0" disabled>Gender</option>
                        <option value="1">Male</option>
                        <option value="2">FeMale</option>

                        <!-- <option *ngFor="let district of DistrictList" value="{{district.id}}"> {{ district.title }}</option> -->
                    </select>
                </div>

                <div class="form-group">
                    <select
                        class="form-control"
                        name="Education Qualification"
                        [(ngModel)]="jobData.education"
                    >
                        <option value="0" disabled>Education</option>
                        <option value="1">SSC</option>
                        <option value="2">Intermediate</option>
                        <option value="5">Diploma</option>
                        <option value=" 3">Bachelor Degree</option>
                        <option value="4">Master Degree</option>

                        <!-- <option *ngFor="let district of DistrictList" value="{{district.id}}"> {{ district.title }}</option> -->
                    </select>
                </div>
                <div class="form-group">
                    <select
                        class="form-control"
                        name="Job Experience"
                        [(ngModel)]="jobData.experience"
                    >
                        <option value="0" disabled>Experience</option>
                        <option value="1">Fresher</option>
                        <option value="2">Less Than 1 Year</option>
                        <option value="3">(1-2)years</option>
                        <option value="4">(2-3)Years</option>
                        <option value="5">(3-5)years</option>

                        <!-- <option *ngFor="let district of DistrictList" value="{{district.id}}"> {{ district.title }}</option> -->
                    </select>
                </div>
                <mat-form-field class="example-full-width">
                    <mat-label>Job Expiry Date</mat-label>
                    <input
                        matInput
                        [matDatepicker]="picker"
                        name="date"
                        [(ngModel)]="dateFilters.date"
                        [max]="minDate"
                    />
                    <mat-datepicker-toggle matSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon
                            >keyboard_arrow_down</mat-icon
                        >
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div class="form-group">
                    <select
                        class="form-control"
                        name="Status"
                        [(ngModel)]="jobData.status"
                    >
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                        <!-- <option *ngFor="let district of DistrictList" value="{{district.id}}"> {{ district.title }}</option> -->
                    </select>
                </div>
                <button
                    type="submit"
                    value="submit"
                    class="raised neu"
                    style="
                        /* margin-top: 20px; */
                        /* margin: 2px;
                    width: 6em;
                    height: 2em; */
                        background-color: #1890ff;
                        border: none;
                        color: white;
                    "
                >
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>
<div class="col-md-1"></div>
