<div class="row" style="margin-top: 13px; margin-left: 15px;">
    <mat-card>
        <table id="t01">
            <thead style="background-color: #f5f5f5">
                <tr
                    class="tr1"
                    style="
                        box-shadow: -3px -3px 7px #ffffff,
                            3px 3px 5px rgba(94, 104, 121, 0.712);
                    "
                >
                    <th>Emp Id</th>
                    <th>Name</th>
                    <th>Email id</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    
                </tr>
            </thead>
            <tr *ngFor="let item of items" class="tr1">
                <td>
                    {{ item.id  != undefined ? item.id :'0'}}
                </td>
                <td>
                    {{ item.name != undefined ? item.name :'--' }}
                </td>
                <td>{{ item.email_id != undefined ? item.email_id :'--'  }}</td>
                <td>{{ item.status != undefined ? item.status :'0'}}</td>
                <td style="color: #1890ff; cursor: pointer">
                        <i
                            class="fa fa-edit"
                            (click)="EditEmployee($event, item)"
                        ></i>
                </td>
                <td style="color: #1890ff; cursor: pointer" (click)="delarticle(item)">
                    <i class="fa fa-trash">Delete</i>
                </td>
            </tr>
        </table>
        <mat-paginator
        #paginator
        [length]="length"
        [pageSize]="10"
        (page)="pageEvent = onNextPage($event)"
    >
    </mat-paginator>
    </mat-card>
</div>


<ng-template #editModel let-c="close" let-d="dismiss">
    <form class="content" role="form" method="post" #LoginForm="ngForm">
        <div>
            <h2 style="text-align: center">Edit Employee</h2>

            <div class="row" style="margin-top: 10px">
                <div class="col-sm-6">Employee Name</div>
                <div class="col-sm-3">
                    <input
                        placeholder="Employee Name"
                        [(ngModel)]="employee_new_id.name"
                        type="text"
                        name="title"
                        required
                    />
                </div>
            </div>

            <div class="row" style="margin-top: 10px">
                <div class="col-sm-6">Permissions</div>
                <div class="col-sm-1">
                    <div class="custom-control custom-switch">
                        <mat-slide-toggle [(ngModel)]="
                        permissionsData.Dashboard
                    " name="Dashboard">Dashboard</mat-slide-toggle>
                    </div>
                </div>
              
              
            </div>

            <div class="row" style="margin-top: 10px">
                <div class="col-sm-6">
                    <button
                        type="submit"
                        value="submit"
                        style="
                            margin: 2px;
                            width: 6em;
                            height: 2em;
                            background-color: #1890ff;
                            border: none;
                            color: white;
                        "
                    >
                        Submit
                    </button>
                </div>
                <div class="col-sm-3">
                    <button
                        (click)="c('Close click')"
                        style="
                            width: 6em;
                            height: 2em;
                            background-color: #1890ff;
                            border: none;
                            color: white;
                        "
                    >
                        Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</ng-template>
<!-- Delete Employee  Modal  -->

<ng-template #delModel let-c="close" let-d="dismiss">
    <form class="content" role="form" method="post" #DeleteForm="ngForm">
        <div>
            <div class="row" style="margin-top: 10px; font-size: medium">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">Are You Sure You Want To Delete</div>
                <div class="col-sm-3"></div>
            </div>

            <div class="row" style="margin-top: 10px">
                <div class="col-sm-6">
                    <button
                        type="submit"
                        value="submit"
                        (click)="delForm()"
                        style="
                            margin: 2px;
                            width: 6em;
                            height: 2em;
                            background-color: #1890ff;
                            border: none;
                            color: white;
                        "
                    >
                        Delete
                    </button>
                </div>
                <div class="col-sm-6">
                    <button
                        (click)="c('Close click')"
                        style="
                            width: 6em;
                            height: 2em;
                            background-color: #1890ff;
                            border: none;
                            color: white;
                        "
                    >
                        Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</ng-template>


