table {
    width:100%;
    border-collapse: collapse;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    font-size: 14px;
    background: white;
}
th{
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #E0E0E0		;
}
td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;  
}

mat-card {
  background: #ffffff;
  width: 100%;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.tr1:hover {
    background-color: #D3D3D3;
}

button {
    top: 8px;
    left: 400px;
    width: 11em;
    height: 2.5em;
    background-color: #1890ff;
    border: none;
    color: white;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    
    border-radius: 28px;
    background: linear-gradient(145deg, #1682e6, #1a9aff);
    box-shadow:  5px 5px 10px #0a3a66, 
                 -5px -5px 10px #ffffff;

}


.table1 {
    width: 100%;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    font-size: 14px;

}

td1 {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd; 	
  }






.mat-card {
    
    text-align: center;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    img {
        border-radius: 5px;
        margin-top: -25px;
    }
    
}
.mat-table {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
        font-family: 'NeoTech', Fallback, sans-serif !important;

        
}
.registration-full-width {
    width: 100%;
    
  }

  .top {
    margin-top: 5px ;
  }

  form {
      height: 230px;
  }
  .bhagavan {
      
      background-color: white;
    //   background-image: url('https://www.w3schools.com/css/searchicon.png');
      background-position: 10px 10px;
      background-repeat: no-repeat;
    //   padding-left: 40px;
  }
  select {
      width: 12em;
  }


input[type="checkbox"].switch_1{
	font-size: 30px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 55px;
	height: 20px;
	background: #ddd;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked{
	background: #008000;
  }
  
  input[type="checkbox"].switch_1:after{
	position: absolute;
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	        box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked:after{
	left: calc(100% - 0.7em);
  }
  .mat-card[_ngcontent-kpm-c309]{
    width: 90%;
    margin-left: 70px;
  }

  mat-tab-label {
    background-color: yellow;;
}

.tab {
    padding: 0 94px;    
}

h2 {
    text-align: center;
    margin-top: 4px;
}
.text-align {
    text-align: left;
}
.slide {
    color: #1890ff;
    display: inline;

}


.items {
    padding: 12px;
}
mat-slide-toggle {
    margin: 12px;
}
.text {
    font-family: "NeoTech", Fallback, sans-serif !important;
}

#wrapper {
    width: 100%;
    height: 400px;

}



.registration-form {
    width: 70%;
    height: 100%;
    
  }
  
  .registration-full-width {
    width: 100%;
    
  }
  
  div {
    text-align: center
  }


.mat-card {
    width: 90%;
    text-align: center;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    img {
        border-radius: 5px;
        margin-top: -25px;
    }
}

.reporter {
    width: 90%;
    text-align: center;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    img {
        border-radius: 5px;
        margin-top: -25px;
    }
}
    

form {
    width: 60%;
    margin-left: auto;
    margin-right:auto;
}


.center {
    margin-left: auto;
    margin-right: auto;
   width: 80%;
 
}

button {
    position: relative;
    width: 7em;
    height: 2.3em;
    background-color: #1890ff;
    border: none;
    color:white;
    
    border-radius: 28px;
    background: linear-gradient(145deg, #1682e6, #1a9aff);
    box-shadow:  5px 5px 10px #0a3a66, 
                 -5px -5px 10px #ffffff;
    
}


.neumorphism-3 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	background: #ffffff;
	border-radius: 50%;
    box-shadow:
     -3px -3px 7px #ffffff, 
     3px 3px 5px rgba(94, 104, 121, 0.712);
	position: relative;
}
.neumorphism-3:after {
	content: '';
	position: absolute;
	height: 90%;
	width: 90%;
	background-color: transparent;
	border-radius: 50%;
	box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.671);
}
table {
    width:100%;
    border-collapse: collapse;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    font-size: 14px;
    background: white;
}
th{
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #E0E0E0		;
}
td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;  
}
th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.tr1:hover {
    background-color: #D3D3D3;
}

button {
    top: 8px;
    width: 11em;
    height: 2.5em;
    background-color: #1890ff;
    border: none;
    color: white;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    
    border-radius: 28px;
    background: linear-gradient(145deg, #1682e6, #1a9aff);
    box-shadow:  5px 5px 10px #0a3a66, 
                 -5px -5px 10px #ffffff;

}


.table1 {
    width: 100%;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    font-size: 14px;

}

td1 {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd; 	
  }






.mat-card {
    
    text-align: center;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    img {
        border-radius: 5px;
        margin-top: -25px;
    }
    
}
.mat-table {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
        font-family: 'NeoTech', Fallback, sans-serif !important;

        
}
.registration-full-width {
    width: 100%;
    
  }

  .top {
    margin-top: 5px ;
  }

  form {
      height: 230px;
  }
  
  select {
      width: 10em;
  }

  mat-tab-label {
    background-color: yellow;;
}

.tab {
    padding: 0 94px;    
}

h2 {
    text-align: center;
    margin-top: 4px;
}
.text-align {
    text-align: left;
}
.slide {
    color: #1890ff;
    display: inline;

}


.items {
    padding: 12px;
}
mat-slide-toggle {
    margin: 12px;
}
.text {
    font-family: "NeoTech", Fallback, sans-serif !important;
}

#wrapper {
    width: 100%;
    height: 400px;

}



.registration-form {
    width: 70%;
    height: 100%;
    
  }
  
  .registration-full-width {
    width: 100%;
    
  }
  
  div {
    text-align: center
  }


.mat-card {
    width: 90%;
    text-align: center;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    img {
        border-radius: 5px;
        margin-top: -25px;
    }
}

.reporter {
    width: 90%;
    text-align: center;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    img {
        border-radius: 5px;
        margin-top: -25px;
    }
}
    

form {
    width: 60%;
    margin-left: auto;
    margin-right:auto;
}


.center {
    margin-left: auto;
    margin-right: auto;
   width: 80%;
 
}

button {
    position: relative;
    width: 7em;
    height: 2.3em;
    background-color: #1890ff;
    border: none;
    color:white;
    
    border-radius: 28px;
    background: linear-gradient(145deg, #1682e6, #1a9aff);
    box-shadow:  5px 5px 10px #0a3a66, 
                 -5px -5px 10px #ffffff;
    
}


.neumorphism-3 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	background: #ffffff;
	border-radius: 50%;
    box-shadow:
     -3px -3px 7px #ffffff, 
     3px 3px 5px rgba(94, 104, 121, 0.712);
	position: relative;
}
.neumorphism-3:after {
	content: '';
	position: absolute;
	height: 90%;
	width: 90%;
	background-color: transparent;
	border-radius: 50%;
	box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.671);
}
table {
    width:100%;
    border-collapse: collapse;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    font-size: 14px;
    background: white;
}
th{
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #E0E0E0		;
}
td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;  
}
th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.tr1:hover {
    background-color: #D3D3D3;
}

button {
    top: 8px;
    width: 11em;
    height: 2.5em;
    background-color: #1890ff;
    border: none;
    color: white;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    
    border-radius: 28px;
    background: linear-gradient(145deg, #1682e6, #1a9aff);
    box-shadow:  5px 5px 10px #0a3a66, 
                 -5px -5px 10px #ffffff;

}


.table1 {
    width: 100%;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    font-size: 14px;

}

td1 {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd; 	
  }






.mat-card {
    
    text-align: center;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    img {
        border-radius: 5px;
        margin-top: -25px;
    }
    
}
.mat-table {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
        font-family: 'NeoTech', Fallback, sans-serif !important;

        
}
.registration-full-width {
    width: 100%;
    
  }

  .top {
    margin-top: 5px ;
  }

  form {
      height: 230px;
  }
  
  select {
      width: 10em;
  }

  