<div style="border-radius: 28px">
    <button type="button" value="submit" class="sbmt pull-right edit-btn" (click)="open(true, data)">
        <i class="fa fa-edit"></i>Add Company
    </button>
</div>
<br />
<br />

<div class="row" style="margin-right: -20px !important; margin-left: 15px !important; margin-top: 10px !important;">
    <mat-card>
        <table id="t01">
            <thead style="background-color: #f5f5f5">
                <tr class="tr1" style="
                        box-shadow: -3px -3px 7px #ffffff,
                            3px 3px 5px rgba(94, 104, 121, 0.712);
                    ">
                    <th>ID</th>
                    <th>Company Name</th>
                    <th>category</th>
                    <th>company mobile</th>
                    <th>website</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tr *ngFor="let company of companyData" class="tr1">
                <td>
                    {{
                        company.id != undefined
                            ? company.id
                            : "--"
                    }}
                </td>
                <td>
                    {{
                        company.name != undefined
                            ? company.name
                            : "--"
                    }}
                </td>
                <td>
                    {{
                        company.category != undefined
                            ? company.category
                            : "--"
                    }}
                </td>
                <td>
                    {{
                        company.mobile != undefined
                            ? company.mobile
                            : "0"
                    }}
                </td>
                <td>
                    {{
                        company.url != undefined
                            ? company.url
                            : "--"
                    }}
                </td>
                <td style="color: #1890ff" (click)="open(editModel, company)">
                    <i class="fa fa-edit"></i>Edit
                </td>
                <td style="color: #1890ff; cursor: pointer" (click)="delcompany(company)">
                    <i class="fa fa-trash">Delete</i>
                </td>

            </tr>
        </table>
         <mat-paginator
        #paginator
        [length]="length"
        [pageSize]="10"
        (page)="pageEvent = onNextPage($event)"
    >
    </mat-paginator>
    </mat-card>
</div>
<div *ngIf="postdataShow" class="fixed-wrapper">
    <div class="content fixed">
        <div class="modal-header">
          

            <button1 type="button" class="btn btn-outline-dark" (click)="close(false)" style="margin-right: -320px;">
                X
            </button1>
           
        </div>
        <form class="content" role="form" method="post" #LoginForm="ngForm">
            <div>
                <h2>Add Company</h2>
                <div class="row">
                    <div class="col-sm-4">Company Name:</div>
                    <div class="col-sm-8">
                        <input required placeholder=" Company Name" [(ngModel)]="companiesData.name" type="text"
                            name="native" />
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-sm-4">Category:</div>
                    <div class="col-sm-8">
                        <input required placeholder=" Company Category" [(ngModel)]="companiesData.category" type="text"
                            name="native" />
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-sm-4">Company Mobile:</div>
                    <div class="col-sm-8">
                        <input required placeholder=" Company phone" [(ngModel)]="companiesData.mobile" type="text"
                            name="native" />
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-sm-4">URL:</div>
                    <div class="col-sm-8">
                        <input required  [(ngModel)]="companiesData.url"   type="url"
                        name="url"
                        id="url"
                        placeholder="https://example.com"
                        pattern="https://.*"
                        size="30" />
                    </div> 
                 </div> 
          
                <div class="row" style="margin-top: 10px">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3">

                        <button type="submit" value="submit" class="raised neu" style="
                            margin: 5px;
                            width: 6em;
                            height: 2em;
                            background-color: #1890ff;
                            border-radius: 5px;
                            color: white;

                        " (click)="submitForm()">
                            Submit
                        </button>

                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </form>
    </div>
</div>

<ng-template #editModel let-c="close" let-d="dismiss">
    <form
        class="content"
        role="form"
        method="post"
        #LoginForm="ngForm"
        (submit)="editForm()"
    >
        <div>
            <h2 style="text-align: center">Edit Job categories</h2>

            <div class="row">
                <div class="col-sm-4">Company Name</div>
                <div class="col-sm-8">
                    <input
                        placeholder="Company Name"
                        required
                        [(ngModel)]="editData.title"
                        type="text"
                        name="english"
                    />
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="row">
                <div class="col-sm-4">Category</div>
                <div class="col-sm-8">
                    <input
                        placeholder="Category"
                        required
                        [(ngModel)]="editData.category"
                        type="text"
                        name="english"
                    />
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="row">
                <div class="col-sm-4">Mobile</div>
                <div class="col-sm-8">
                    <input
                        placeholder="Company Mobile"
                        required
                        [(ngModel)]="editData.mobile"
                        type="text"
                        name="english"
                    />
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="row">
                <div class="col-sm-4">URL</div>
                <div class="col-sm-8">
                    <input required  [(ngModel)]="editData.url"   type="url"
                    name="url"
                    id="url"
                    placeholder="https://example.com"
                    pattern="https://.*"
                    size="30" />
                </div> 
             </div> 
       
            <div class="row" style="margin-top: 10px">
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                   
                    <button
                        type="submit"
                        value="submit"
                        style="
                            margin: 2px;
                            width: 6em;
                            height: 2em;
                            background-color: #1890ff;
                            border: none;
                            color: white;
                        "
                        (click)="editForm()"
                    >
                        Submit
                    </button>

                </div>
                <div class="col-sm-4">
                    <button
                        (click)="c('Close click')"
                        style="
                            width: 6em;
                            height: 2em;
                            background-color: #1890ff;
                            border: none;
                            color: white;
                        "
                    >
                        Close
                    </button>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </form>
</ng-template>
