table {
    width:100%;
    border-collapse: collapse;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    font-size: 14px;
    background: white;
}
th{
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #E0E0E0		;
}
td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;  
}

mat-card {
  background: #ffffff;
  width: 100%;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.tr1:hover {
    background-color: #D3D3D3;
}

// button.btn btn-outline-dark {
//     top: 8px;
//     left: 400px;
//     width: 11em;
//     height: 2.5em;
//     background-color: #1890ff;
//     border: none;
//     color: white;
//     font-family: 'NeoTech', Fallback, sans-serif !important;
    
//     border-radius: 28px;
//     background: linear-gradient(145deg, #1682e6, #1a9aff);
//     box-shadow:  5px 5px 10px #0a3a66, 
//                  -5px -5px 10px #ffffff;

// }


.table1 {
    width: 100%;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    font-size: 14px;

}

td1 {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd; 	
  }






.mat-card {
    
    text-align: center;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    img {
        border-radius: 5px;
        margin-top: -25px;
    }
    
}
.mat-table {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
        font-family: 'NeoTech', Fallback, sans-serif !important;

        
}
.registration-full-width {
    width: 100%;
    
  }

  .top {
    margin-top: 5px ;
  }

  form {
      height: 230px;
  }
  // input {
  //     // width: 12em;
  // }
  // select {
  //     // width: 12em;
  // }

  .fixed-wrapper {
  position:absolute;
  bottom:0;
  right:0;
  width:30%;
  height:30px;

}

.fixed-wrapper .fixed {
  position:fixed;
  width:25%;
  height:60%;
  top:22%;
  background:rgb(247, 247, 247);
  overflow: auto;
  box-shadow: -3px 9px 10px 0px rgba(104,99,99,0.75);
}
.fab {
  position: relative;
  width: 8em;
  height: 2em;
  background-color: #1890ff;
  border: none;
  color: white;
  margin-top: 10px;
  line-height: 29px;
  border-radius: 28px;
  background: linear-gradient(145deg, #1682e6, #1a9aff);

  box-shadow: 0 6px 10px 0 #666;

  color: white;
  text-align: center;

  transition: all 0.1s ease-in-out;
}
.fab1 {
  background-color: #1890ff;
  border-radius: 25%;
  color: white;
  text-align: center;
}
.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}
.fab1 {
  width: 70px;
  height: 70px;
  background-color: #1890ff;
  border: none;
  color: white;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;

  font-size: 50px;
  line-height: 70px;
  color: white;
  text-align: center;
  margin-top: -16px;

  transition: all 0.1s ease-in-out;
}

.fab1:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}
mat-tab-label {
  background-color: yellow;;
}

.tab {
  padding: 0 94px;    
}

h2 {
  text-align: center;
  margin-top: 4px;
}
.text-align {
  text-align: left;
}
.slide {
  color: #1890ff;
  display: inline;

}

.button1{
  float: right;
}
.items {
  padding: 12px;
}
mat-slide-toggle {
  margin: 12px;
}
.text {
  font-family: "NeoTech", Fallback, sans-serif !important;
}

#wrapper {
  width: 100%;
  height: 400px;

}



.registration-form {
  width: 70%;
  height: 100%;
  
}

.registration-full-width {
  width: 100%;
  
}

div {
  text-align: center
}


.mat-card {
  width: 90%;
  text-align: center;
  font-family: 'NeoTech', Fallback, sans-serif !important;
  img {
      border-radius: 5px;
      margin-top: -25px;
  }
}

.reporter {
  width: 90%;
  text-align: center;
  font-family: 'NeoTech', Fallback, sans-serif !important;
  img {
      border-radius: 5px;
      margin-top: -25px;
  }
}
  

form {
  width: 60%;
  margin-left: auto;
  margin-right:auto;
}


.center {
  margin-left: auto;
  margin-right: auto;
 width: 80%;

}


.neumorphism-3 {
display: flex;
justify-content: left;
align-items: center;
height: 50px;
width: 50px;
background: #ffffff;
border-radius: 50%;
  box-shadow:
   -3px -3px 7px #ffffff, 
   3px 3px 5px rgba(94, 104, 121, 0.712);
position: relative;
}
.neumorphism-3:after {
content: '';
position: absolute;
height: 90%;
width: 90%;
background-color: transparent;
border-radius: 50%;
box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.671);
}
table {
  width:100%;
  border-collapse: collapse;
  font-family: 'NeoTech', Fallback, sans-serif !important;
  font-size: 14px;
  background: white;
}
th{
padding: 5px;
text-align: left;
border-bottom: 1px solid #ddd;
background-color: #E0E0E0		;
}
td {
padding: 5px;
text-align: left;
border-bottom: 1px solid #ddd;  
}
th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.tr1:hover {
  background-color: #D3D3D3;
}

button {
  top: 8px;
  width: 11em;
  height: 2.5em;
  background-color: #47143d;
  border: none;
  color: white;
  font-family: 'NeoTech', Fallback, sans-serif !important;
  
  border-radius: 28px;
  background: linear-gradient(145deg, #47143d, #47143d);
  box-shadow:  5px 5px 10px #47143d, 
               -5px -5px 10px #ffffff;

}


.table1 {
  width: 100%;
  font-family: 'NeoTech', Fallback, sans-serif !important;
  font-size: 14px;

}

td1 {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd; 	
}






.mat-card {
  
  text-align: center;
  font-family: 'NeoTech', Fallback, sans-serif !important;
  img {
      border-radius: 5px;
      margin-top: -25px;
  }
  
}
.mat-table {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
      font-family: 'NeoTech', Fallback, sans-serif !important;

      
}
.registration-full-width {
  width: 100%;
  
}

.top {
  margin-top: 5px ;
}

form {
    height: 230px;
}

select {
  width: 10.5em;
  height: 35px;
  font-size: medium;
}

