<div style="border-radius: 28px">
    <button
        type="button"
        value="submit"
        class="sbmt pull-right edit-btn"
        (click)="open(true, data)"
    >
        <i class="fa fa-edit"></i>Add Languages
    </button>
</div>
<br />
<br />

<div class="row">
    <mat-card>
        <table id="t01">
            <thead style="background-color: #f5f5f5">
                <tr
                    class="tr1"
                    style="
                        box-shadow: -3px -3px 7px #ffffff,
                            3px 3px 5px rgba(94, 104, 121, 0.712);
                    "
                >
                    <th>Language Name</th>
                    <th>Native</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <!-- <th>Delete</th> -->
                </tr>
            </thead>
            <tr *ngFor="let Language of languageData" class="tr1">
                <td>
                    {{ Language.title }}
                </td>
                <td>
                    {{ Language.name }}
                </td>
                <td>Live</td>
                <td style="color: #1890ff" (click)="open(editModel, Language)">
                    <i class="fa fa-edit"></i>Edit
                </td>
                <!-- <td style="color: #1890ff" (click)="open(editModel)">
                    <i class="fa fa-trash"></i>Delete
                </td> -->
            </tr>
        </table>
    </mat-card>
</div>

<div *ngIf="postdataShow" class="fixed-wrapper">
    <div class="content fixed">
        <div class="modal-header">
            <button1 style="margin-right: -100%;"
                type="button"
                class="btn btn-outline-dark"
                (click)="close(false)"
            >
                X
            </button1>
        </div>
        <form class="content" role="form" method="post" #LoginForm="ngForm">
            <div>
                <h2>Add Language</h2>

                <div class="row" style="margin-top: 10px; margin-left: 15px">
                    <!-- <div class="col-sm-2"></div> -->
                    <div class="col-sm-4">Language</div>
                    <div class="col-sm-6">
                        <input
                            required
                            placeholder=" Language"
                            [(ngModel)]="addLanguageData.name"
                            type="text"
                            name="native"
                        />
                    </div>

                    <div class="col-sm-3"></div>
                </div>
                <div class="row" style="margin-top: 10px; margin-left: 15px">
                    <!-- <div class="col-sm-2"></div> -->
                    <div class="col-sm-4">Native</div>
                    <div class="col-sm-6">
                        <input
                            required
                            placeholder="Native Language"
                            [(ngModel)]="addLanguageData.title"
                            type="text"
                            name="native"
                        />
                    </div>

                    <div class="col-sm-3"></div>
                </div>
                <div class="row" style="margin-top: 10px; margin-left: 15px">
                    <!-- <div class="col-sm-2"></div> -->
                    <div class="col-sm-4">Status</div>
                    <div class="col-sm-6">
                        <select
                            class="browser-default custom-select"
                            [(ngModel)]="addLanguageData.status"
                            name="status"
                        >
                            <option value="" hidden>Status</option>
                            <option value="live">Live</option>
                            <option value="test">Test</option>
                        </select>
                    </div>

                    <div class="col-sm-3"></div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3">
                        <button
                            type="submit"
                            value="submit"
                            class="raised neu"
                            style="
                                margin: 2px;
                                width: 6em;
                                height: 2em;
                                background-color: #1890ff;
                                border: none;
                                color: white;
                            "
                            (click)="submitForm()"
                        >
                            Submit
                        </button>
                    </div>
                    <!-- <div class="col-sm-4">
                    <button
                        (click)="c('Close click')"
                        style="
                            width: 6em;
                            height: 2em;
                            background-color: #1890ff;
                            border: none;
                            color: white;
                        "
                    >
                        Close
                    </button>
                </div> -->
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- <Edit Language  Modal> -->
<ng-template #editModel let-c="close" let-d="dismiss">
    <form
        class="content"
        role="form"
        method="post"
        #LoginForm="ngForm"
        (submit)="editForm()"
    >
        <div>
            <h2 style="text-align: center">Edit Language</h2>

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">Language</div>
                <div class="col-sm-5">
                    <input
                        placeholder="Language Name"
                        required
                        [(ngModel)]="editData.title"
                        type="text"
                        name="english"
                    />
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">Native</div>
                <div class="col-sm-4">
                    <input
                        required
                        placeholder="Native Language"
                        [(ngModel)]="editData.name"
                        type="text"
                        name="native"
                    />
                </div>

                <div class="col-sm-3"></div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">Status</div>
                <div class="col-sm-4">
                    <select
                        class="browser-default custom-select"
                        [(ngModel)]="editData.status"
                        name="status"
                    >
                        <option value="" hidden>Status</option>
                        <option value="live">Live</option>
                        <option value="test">Test</option>
                    </select>
                </div>

                <div class="col-sm-3"></div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                    <button
                        type="submit"
                        value="submit"
                        style="
                            margin: 2px;
                            width: 6em;
                            height: 2em;
                            background-color: #1890ff;
                            border: none;
                            color: white;
                        "
                        (click)="editForm()"
                    >
                        Submit
                    </button>
                </div>
                <div class="col-sm-4">
                    <button
                        (click)="c('Close click')"
                        style="
                            width: 6em;
                            height: 2em;
                            background-color: #1890ff;
                            border: none;
                            color: white;
                        "
                    >
                        Close
                    </button>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </form>
</ng-template>
